.card {
    background: #fff;
    border-radius: 2px;
    height: 20%;
    position: relative;
    margin: 1%;
    width: 20%;
    text-align: left;
    top: 20%;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  
   width: 69%;
    height: 100%;
}

.theImage {

      height: 45%;
}
.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:200px;
    height:220px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}



.style_prevu_kit_ex {
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(5px, 0px) rotate(0deg); }
    10% { transform: translate(-5px, 0px) rotate(0deg); }
    20% { transform: translate(5px, 0px) rotate(0deg); }
    30% { transform: translate(-5px, 0px) rotate(0deg); }
    40% { transform: translate(5px, 0px) rotate(0deg); }
    50% { transform: translate(-5px, 0px) rotate(0deg); }
    60% { transform: translate(5px, 0px) rotate(0deg); }
    70% { transform: translate(-5px, 0px) rotate(0deg); }
    80% { transform: translate(5px, 0px) rotate(0deg); }
    90% { transform: translate(-5px, 0px) rotate(0deg); }
    100% { transform: translate(5px, 0px) rotate(0deg); }
}
